<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/style.css">

        <title>Dont't let the night end! Make Spätis accept cards!</title>
    </head>
    <body>
        <header>
            <h1>Dont't let the night end! Make Spätis accept cards!</h1>
        </header>
        <section>
        </section>
        <main>
            {{{body}}}
        </main>
        <section class="bottonSection">
        </section>


<footer><h3>United we stand, divided we end up paying more </h3></footer>
        <script src="/canvas.js"></script>
    </body>
</html>
