<header>

</header>


<form method="POST">

    <section>
        <h1>Registration</h1>
    </section>


    <div class='moreInfoContainer'>

    <h1>We would like to know a bit more about you</h1>

    <input name='age' placeholder="Age">
    <input name='city' placeholder="City">
    <input name='url' placeholder="URL">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </div>
    <section class = "bottonSection">
    <button>Sign up</button>
    <h2>If you are already a member, please<a href="/login"> log in</h2></a>
</section>



</form>
