
<header>

    <!-- to add the name we should first get it from a DB request, like getUser, and the we could render here the name -->
</header>

<section>
<h1>Thank you {{first}} for your support!</h1>
</section>

<main>

    <div class = "signatureContainer">
        <img class = "showSign" src='{{signature}}'>
        <a href="/signers"><p>See a list of all supporters<p></a>


            <button ><a href="/petition">Delete</a></button>

            <button><a href="/edit">Edit your profile</a></button>


    </div>






</main>
